.button {
    background-color: #2980b9;
    border: none;
    color: #ecf0f1;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:active,
button:focus {
    border: 0px solid #FFFFFF; 
    outline: 0;
}

#seek-range {
    width: 640px;
}